/*------ general ------*/
.container {
    max-width: 1280px;
    margin: auto;
    height: 100vh;
}

/*------ font ------*/
h1 ,h2 {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px;
}

/*------ sections ------*/
.section1 ,.section2 ,.section3 {
    margin-top: 10px;
}

/*------ elements ------*/
[class*="col-"] {
    line-height: 60px;
    border: 1px solid #fff;
    background-color: #006cfa;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    overflow-y: hidden;
}

/*------ nested elements ------*/
[class*="col-"] [class*="col-"] {
    border: 1px solid #006cfa;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #00e165;
}
.row.nest {
    margin: 10px;
}