/*------ general ------*/
.container {
    max-width: 1280px;
    margin: auto;
}

/*------ font ------*/
h1 ,h2 {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px #ff0000;
}

/*------ sections ------*/
.section1 ,.section2 ,.section3 {
    margin-top: 10px;
}

/*------ elements ------*/
[class*="col-"] {
    line-height: 60px;
    border: 1px solid #fff;
    background-color: #006cfa;
    text-align: center;
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    overflow-y: hidden;
}

/*------ nested elements ------*/
[class*="col-"] [class*="col-"] {
    border: 1px solid #006cfa;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #00e165;
}
.row.nest {
    margin: 10px;
}

/*------ bonus ------*/
.row.bonus > [class*="col-"] {
    background-image: url(https://previews.123rf.com/images/ioqs/ioqs0912/ioqs091200001/6064030-étoiles-rouges-sur-fond-blanc-.jpg);
    background-position: center;
    line-height: 60px;
    border: 5px dotted gold;
    color: gold;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    overflow-y: hidden;
}
.row.bonus {
    background-color: #00e165;
}
.bonus h2 {
    margin: 20px 0;
}