/*------ general ------*/
body {
    font-family: 'Roboto', sans-serif;
}
img {
    max-width: 100%;
    max-height: 20vw;
}

/*------ header ------*/
.header-left {
    display: flex;
    height: 80px;
}

.header-left > h3 {
    color: darkgreen;
    line-height: 80px;
}

.header-right {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    height: 80px;
}

.icon {
    display: flex;
    align-items: center;
    font-size: 34px;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.header-nav ul li a{
    font-size: 14px;
    text-decoration: none;
    padding: 0 15px;
    color: black;
}

/*------ main ------*/
.shop {
    max-width: 1170px;
    margin: 20px auto;
}
.row {
    margin-bottom: 30px;
}
.item {
    border: 1px solid red;
}

/*------ media query ------*/
@media screen and (min-width: 0px) {
    .header-nav {
        display: none;
    }
    .icon{
        display: flex;
    }
}

@media screen and (min-width: 768px) {
    .header-nav {
        display: flex;
    }
    .icon{
        display: none;
    }
    .item.last {
        width: 1000px;
    }
}